parameters:
    level: max
    reportUnmatchedIgnoredErrors: false
    bootstrapFiles:
        - laravel/vendor/autoload.php
    scanDirectories:
        - laravel/Modules/AI/app
        - laravel/Modules/Activity/app
        - laravel/Modules/Blog/app
        - laravel/Modules/Cms/app
        - laravel/Modules/Comment/app
        - laravel/Modules/Fixcity/app
        - laravel/Modules/Gdpr/app
        - laravel/Modules/Geo/app
        - laravel/Modules/Job/app
        - laravel/Modules/Lang/app
        - laravel/Modules/Media/app
        - laravel/Modules/Notify/app
        - laravel/Modules/Rating/app
        - laravel/Modules/Seo/app
        - laravel/Modules/Tenant/app
        - laravel/Modules/UI/app
        - laravel/Modules/User/app
        - laravel/Modules/Xot/app
