includes:
    - phpstan-baseline.neon
    - ./vendor/larastan/larastan/extension.neon

parameters:
    level: max
    paths:
        - .
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: false
    excludePaths:
        - ./vendor/*
        - ./docs/*
